<p id="notice"><%= notice %></p>

<nav class="navbar navbar-light bg-light">
  <%= link_to 'Wikinimous', articles_url, { class: "navbar-brand"} %>
  <%= link_to 'New Article', new_article_url, { class: "nav-link"} %>
</nav>

<div class='container index-list'>

  <div class="col-sm-8 col-sm-offset-2">
    <% @articles.each do |article| %>
        <div class="row title-row"><%= link_to "#{article.title}", article_url(article) %></div>
        <div class="row content-row"><%= article.content %></div>
    <% end %>
  </div>
</div>
